In [7]:
%load_ext autoreload
%autoreload 2

import requests
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import tqdm
from IPython.display import Image, display
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Fetch dataset

In [2]:
link = "http://lib.stat.cmu.edu/datasets/boston"
raw_text = requests.get(link).text # get the raw text
raw_text = raw_text.split('\n') # split into lines
headers = raw_text[7:21]
headers = [h.split()[0] for h in headers]
raw_text = raw_text[22:-1] # discard description

raw_data = []
for i in range(0, len(raw_text), 2):
    # each row is split into 2 lines, so join them first
    row = raw_text[i] + raw_text[i+1]
    raw_data.append(row)

# split each row into columns and convert each cell -> string to float
raw_data = [[float(column) for column in row.split()] for row in raw_data]
raw_data = np.array(raw_data) # no error, implies equal length rows, error-free import

## Split into dev + test

In [11]:
# 1/6 parts in test, 5/6 parts in dev for 5-fold cross validation later
# random seed for reproducibility
raw_train_data, raw_test_data = train_test_split(raw_data, test_size=1/6, random_state=10)
raw_df = pd.DataFrame(raw_train_data,columns=headers)
print(raw_df)
raw_df.describe()

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
0     0.06076   0.0  11.93   0.0  0.573  6.976   91.0  2.1675   1.0  273.0
1     0.05372   0.0  13.92   0.0  0.437  6.549   51.0  5.9604   4.0  289.0
2     0.05561  70.0   2.24   0.0  0.400  7.041   10.0  7.8278   5.0  358.0
3     0.05083   0.0   5.19   0.0  0.515  6.316   38.1  6.4584   5.0  224.0
4    45.74610   0.0  18.10   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
..        ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
416   0.16760   0.0   7.38   0.0  0.493  6.426   52.3  4.5404   5.0  287.0
417   0.62739   0.0   8.14   0.0  0.538  5.834   56.5  4.4986   4.0  307.0
418   2.37857   0.0  18.10   0.0  0.583  5.871   41.9  3.7240  24.0  666.0
419   0.16902   0.0  25.65   0.0  0.581  5.986   88.4  1.9929   2.0  188.0
420   0.76162  20.0   3.97   0.0  0.647  5.560   62.8  1.9865   5.0  264.0

     PTRATIO       B  LSTAT  MEDV
0       21.0  396.90   5.64  23.9
1       16.0  392.85   7.39  27.1
2       14.8  371.58   4.74  29.0
3       20.2  389.71   5.68  22.2
4       20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
416     19.6  396.90   7.20  23.8
417     21.0  395.62   8.47  19.9
418     20.2  370.73  13.34  20.6
419     19.1  385.02  14.81  21.4
420     13.0  392.40  10.45  22.8

[421 rows x 14 columns]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000,421.00000,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000
mean,3.864835,11.178147,11.395606,0.066508,0.556202,6.239606,69.111876,3.80733,9.767221,413.133017,18.554632,353.513088,12.997387,21.804276
std,9.170657,23.555059,6.903976,0.249465,0.116732,0.667412,27.880585,2.13385,8.836772,171.026499,2.136945,95.672303,7.087777,8.662466
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.13700,1.000000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,0.082210,0.000000,5.190000,0.000000,0.449000,5.876000,45.700000,2.06510,4.000000,280.000000,17.400000,374.560000,7.430000,16.500000
50%,0.253870,0.000000,9.900000,0.000000,0.538000,6.167000,77.000000,3.26280,5.000000,334.000000,19.100000,391.270000,11.660000,20.700000
75%,3.849700,12.500000,18.100000,0.000000,0.631000,6.565000,94.500000,5.11800,24.000000,666.000000,20.200000,396.210000,17.210000,24.500000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.12650,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
0     0.06076   0.0  11.93   0.0  0.573  6.976   91.0  2.1675   1.0  273.0
1     0.05372   0.0  13.92   0.0  0.437  6.549   51.0  5.9604   4.0  289.0
2     0.05561  70.0   2.24   0.0  0.400  7.041   10.0  7.8278   5.0  358.0
3     0.05083   0.0   5.19   0.0  0.515  6.316   38.1  6.4584   5.0  224.0
4    45.74610   0.0  18.10   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
..        ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
416   0.16760   0.0   7.38   0.0  0.493  6.426   52.3  4.5404   5.0  287.0
417   0.62739   0.0   8.14   0.0  0.538  5.834   56.5  4.4986   4.0  307.0
418   2.37857   0.0  18.10   0.0  0.583  5.871   41.9  3.7240  24.0  666.0
419   0.16902   0.0  25.65   0.0  0.581  5.986   88.4  1.9929   2.0  188.0
420   0.76162  20.0   3.97   0.0  0.647  5.560   62.8  1.9865   5.0  264.0

     PTRATIO       B  LSTAT  MEDV
0       21.0  396.90   5.64  23.9
1       16.0  392.85   7.39  27.1
2       14.8  371.58   4.74  29.0
3       20.2  389.71   5.68  22.2
4       20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
416     19.6  396.90   7.20  23.8
417     21.0  395.62   8.47  19.9
418     20.2  370.73  13.34  20.6
419     19.1  385.02  14.81  21.4
420     13.0  392.40  10.45  22.8

[421 rows x 14 columns]